<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--<script src="https://cdn.jsdelivr.net/npm/dicom-parser/dist/dicomParser.min.js"></script>-->
<script src="https://unpkg.com/cornerstone-core"></script>
<script src="https://unpkg.com/cornerstone-tools"></script>
<script src="https://unpkg.com/dicom-parser"></script>
<script src="https://unpkg.com/cornerstone-wado-image-loader"></script>

<script src="https://cdn.jsdelivr.net/npm/cornerstone-tools@3.0.0-b.641/dist/cornerstoneTools.js"></script>
<head>
    <meta charset="UTF-8">
    <title>DICOM 이미지 뷰어 버튼</title>
    <link rel="stylesheet" th:href="@{/css/imageView.css}">
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <!-- 버튼 레이아웃 프레그먼트 정의 -->
    <div th:fragment="buttonLayout">
        <div class="button-container">
			<button id="x256" class="btn">256x256</button>
		    <button id="x512" class="btn">512x512</button>
		    <button id="invert" class="btn">흑백반전</button>
		    <button id="interpolation" class="btn">Toggle Interpolation</button>
		    <button id="hflip" class="btn">Horizontal Flip</button>
		    <button id="vflip" class="btn">Vertical Flip</button>
		    <button id="rotate" class="btn">회전</button>
            <button class="btn" id="playClipBtn">플레이클립</button>
            <button class="btn" id="viewSeriesBtn">시리즈모아보기</button>
            <!-- 주석을 선택할 수 있는 드롭다운 메뉴 -->
            <select id="annotateSelect" class="btn">
                <option value="" selected disabled>주석</option>
                <option value="angle">각도</option>
                <option value="arrow">화살표</option>
                <option value="toolExit">주석 종료</option>
                <!-- 추가 옵션 필요 시 여기에 추가 -->
            </select>
            <button class="btn" id="resetBtn">초기화</button>
            <button class="btn" id="downloadBtn">다운로드</button>
            <button class="btn" id="seriesLayoutBtn">시리즈 레이아웃</button>
            <button class="btn" id="imgLayoutBtn">이미지 레이아웃</button>
        </div>
        
        
        <!-- 회전 드롭다운 메뉴 -->
        <div id="rotationDropdown" class="dropdown-menu" style="display: none;">
            <button id="hFlip" class="rotate-btn">HFlip</button>
            <button id="vFlip" class="rotate-btn">VFlip</button>
            <button id="lRotate" class="rotate-btn">Rotate Left</button>
            <button id="rRotate" class="rotate-btn">Rotate Right</button>
            <button id="resetRotate" class="rotate-btn">Reset</button>
        </div>
        
        <!-- 시리즈 레이아웃 영역 -->
        <div id="seriesDropdown" class="dropdown" style="display: none;">
            <div class="grid-selector-container" id="series-grid-selector"></div>
        </div>
        <!-- 이미지 레이아웃 영역 -->
        <div id="dropdown" class="dropdown" style="display: none;">
            <div class="grid-selector-container" id="grid-selector"></div>
        </div>
        
    </div>
    <script src="/js/rotation.js"></script>
	<script src="/js/imageView.js"></script>
	
	

</body>
</html>
