<!DOCTYPE html>
<html>
<head>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
	<script th:src="@{/js/studyList.js}"></script>
	<script th:src="@{/js/seriesList.js}"></script>
	<link rel="stylesheet" th:href="@{/css/studyChoice.css}">
    <meta charset="EUC-KR">
    <title>검사 이력</title>
    <script>
		$(document).ready(function () {
	    // 스터디 목록 클릭 시 상세 페이지로 이동
		
		
	    });
	</script>
</head>
<body>
	<div th:fragment="studyChoice">
	    <div th:if="${choiceStudies != null and !choiceStudies.isEmpty()}">
		    <p>환자 ID: <span th:text="${choiceStudies[0].pid}"></span></p>
		    <p>환자 이름: <span th:text="${choiceStudies[0].pName}"></span></p>
			<a th:href="@{/patients/studyList/{pid}/patientDetail(pid=${choiceStudies[0].pid})}">상세 보기</a>
 
		</div>
		
		<div th:if="${choiceStudies == null or choiceStudies.isEmpty()}">
		    <p>환자 ID: 정보 없음</p>
		    <p>환자 이름: 정보 없음</p>
		</div>
	
	        <table class="dicom-table">
	            <thead>
	                <tr>
	                    <th>모달리티</th>
	                    <th>검사이름</th>
	                    <th>검사날짜</th>
	                    <th>성별</th>
	                    <th>Verify</th>
	                    <th>담당의사</th>
	                </tr>
	            </thead>
	            <tbody>
	                <tr th:each="study : ${choiceStudies}">
	                    <td th:text="${study.modality}">CT</td>
	                    <td th:text="${study.studyDesc}">전신 CT</td>
	                    <td th:text="${study.studyDate}">2024-01-01</td>
	                    <td th:text="${study.pSex}">남</td>
	                    <td th:text="${study.verifyFlag}">O</td>
	                    <td th:text="${study.refPhysicianName}">Dr. Kim</td>

	                    <td>
	                        <button name="seriesList"  th:value="${study.studyKey}">시리즈11</button>
	                    </td>
	                </tr>
	            </tbody>
	        </table>          
    </div>
</body>
</html>
