@charset "UTF-8";
/* 페이지 기본 스타일 */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
body {    
	font-family: 'Pretendard-Regular';
    background-color: #3E5254;
    overflow: hidden;
}
/* 헤더 설정 */
.header {
	float:left;
	color:#A4BBBC;
    font-size: 40px;
    font-weight: 800;
    position:absolute;
    top:-10px;
    left:72px;
}
#dicomImage {
	position:absolute;
	top:80px;
    left:152px;
}
.sidebar{
	position:absolute;
	top:80px;
    left:68px;
	background-color: #243235;
	width: 76px;
	height: 800px;
	text-align: center;
	padding-top: 20px;
}
#toolbar{
	display: none;
}
.toolbar {
	position:absolute;
	top:80px;
    left:152px;
	background-color: #243235;
	width: 1600px;
	height: 50px;
	margin: auto;
}
.listBtn {
	background:url(../img/ListBtn.png) no-repeat;
	width: 50px;
	background-size: cover;
	height: 50px;
}
#listBtn,#toolbarBtn,#historyBtn,#reportBtn {
	background-color: transparent;
	border: none;	
	cursor: pointer;
}
#listBtn:hover,#toolbarBtn:hover,#historyBtn:hover,#reportBtn:hover {
	background-color: #3E5254;
	border-radius: 25px;
}
.toolbarBtn{
	background:url(../img/ToolbarBtn.png) no-repeat;	
	width: 50px;
	background-size: cover;
	height: 50px;
}
.historyBtn{
	background:url(../img/HistoryBtn.png) no-repeat;	
	width: 50px;
	background-size: cover;
	height: 50px;
}
.reportBtn{
	background:url(../img/ReportBtn.png) no-repeat;	
	width: 50px;
	background-size: cover;
	height: 50px;
}
.span{
	color:#D8D8D8;
	font-size: 12px;
	position: relative;
	top:-16px;
}
.BTN{
	border:none;
	cursor: pointer;
	padding:4px;
}
#prevBtn{
	background:url(../img/BeforeBtn.png) no-repeat;	
	width: 40px;
	background-size: cover;
	height: 40px;
}
#nextBtn{
	background:url(../img/NextBtn.png) no-repeat;	
	width: 40px;
	background-size: cover;
	height: 40px;
}
#playClipBtn{
	background:url(../img/PlayclipBtn.png) no-repeat;	
	width: 40px;
	background-size: cover;
	height: 40px;
}
#resetBtn{
	background:url(../img/ResetBtn.png) no-repeat;	
	width: 40px;
	background-size: cover;
	height: 40px;
}
#invertBtn{
	background:url(../img/InvertBtn.png) no-repeat;	
	width: 40px;
	background-size: cover;
	height: 40px;
}
#toolBtn{
	background:url(../img/ToolBoxBtn.png) no-repeat;	
	width: 40px;
	background-size: cover;
	height: 40px;
}
#downloadBtn{
	background:url(../img/DownloadBtn.png) no-repeat;	
	width: 40px;
	background-size: cover;
	height: 40px;
}
#seriesLayoutBtn{
	background:url(../img/SeriesLayoutBtn.png) no-repeat;	
	width: 40px;
	background-size: cover;
	height: 40px;
}
#imgLayoutBtn{
	background:url(../img/ImgLayoutBtn.png) no-repeat;	
	width: 40px;
	background-size: cover;
	height: 40px;
}
/* 드롭다운 상자 스타일링 (기본적으로 숨겨짐) */
.dropdown {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

/* 그리드 셀렉터 스타일 (5x5 그리드) */
.grid-selector-container {
    display: grid;
    grid-template-columns: repeat(5, 30px);
    grid-template-rows: repeat(5, 30px);
    gap: 2px;
    margin-bottom: 10px;
}

/* 각 셀 스타일 */
.grid-selector-item {
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    background-color: white;
    cursor: pointer;
}

/* 선택된 셀 스타일 */
.grid-selector-item.selected {
    background-color: rgb(128, 128, 128);
}

/* 이미지 그리드 컨테이너 (이미지 표시 영역) */
.dicomImage {
    display: grid;
    grid-gap: 10px;
    margin-top: 20px;
}

/* 이미지 아이템 스타일 */
.grid-item {
    border: 2px solid #333;
    background-color: #ddd;
    overflow: hidden;
}

/* 이미지 크기 조정 (그리드에 맞추기) */
.grid-item img {
    width: 100px;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.5s ease-in-out;  /* 0.5초 동안 부드럽게 전환 */
	opacity: 0;
}

.grid-item img.loaded {
    opacity: 1;  /* 이미지가 로드되면 나타남 */
}

.grid-item.loading img {
    opacity: 0;  /* 로딩 중일 때 투명하게 표시 */
}

#seriesGrid {
    width: 100%;
    background-color: black;
    display: grid;
    grid-gap: 10px;  /* 그리드 셀 간격 설정 */
}
.grid-item {
    border: 2px solid #333;
    background-color: #ddd;
    overflow: hidden;
    pointer-events: auto;
}
.grid-option {
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    background-color: white;
    cursor: pointer;
}
.grid-option.selected {
    background-color: grey;
}