/* 기본 박스 모델 설정 */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /* Light Mode Colors */
    --background-color: #f5f5f5;
    --text-color: #333;
    --card-color: #fff;
    --button-color: #007bff;

    /* Dark Mode Colors */
    --background-color-dark: #2b2b2b;
    --text-color-dark: #f5f5f5;
    --card-color-dark: #3a3a3a;
    --button-color-dark: #ff5722;
}

/* 페이지 기본 스타일 */
body {
    font-family: 'Arial', sans-serif;
    padding: 20px;
    background-color: #f4f4f4;
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

/* 컨테이너 설정 */
.container {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}

/* 헤더 설정 */
.header {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

/* Card 스타일 */
.card {
    background-color: var(--card-color);
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
}

/* 섹션 설정 */
.section {
    border: 2px solid black;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
}

/* 검색 섹션 레이아웃 설정 */
.search-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-section select, 
.search-section input[type="text"],
.search-section input[type="submit"] {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-section input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    margin-left: 10px;
}

.search-section input[type="submit"]:hover {
    background-color: #45a049;
}

/* 환자 리스트 섹션 레이아웃 설정 */
.patient-list-section {
    text-align: left;
}

.patient-list-section table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.patient-list-section th, .patient-list-section td {
    border: 1px solid black;
    padding: 12px;
    text-align: center;
    white-space: nowrap; /* 줄바꿈 없이 한 줄로 표시 */
    overflow: hidden; /* 넘치는 텍스트 숨김 */
    text-overflow: ellipsis; /* 넘치는 텍스트를 생략 부호로 표시 (...) */
}

/* 테이블 헤더 스타일 */
.patient-list-section th {
    background-color: #f2f2f2;
    font-weight: bold;
    white-space: nowrap;
}

/* 시리즈 보기 링크 스타일 설정 */
.patient-list-section td a {
    display: inline-block;
    padding: 8px 12px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
}

.patient-list-section td a:hover {
    background-color: #45a049;
}
