/* 기본 박스 모델 설정 */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* 페이지 기본 스타일 */
body {    
	font-family: 'Pretendard-Regular';
    padding: 20px;
    background-color: #3E5254;
}

/* 컨테이너 설정 */
.container {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

/* 헤더 설정 */
.header {
	float:left;
	color:#A4BBBC;
    font-size: 40px;
    font-weight: 800;
    position:absolute;
    left:4%;
}

/* 섹션 설정 */
.section-title {
	color:#D8D8D8;
	font-weight: 500;
	font-size: 20px;
}

/* 검색 섹션 레이아웃 설정 */
.search-section {
	position:absolute;
    left:4%;
    display: flex;
    justify-content: space-between;
}
.section-condition {
	position:absolute;
    left:4%;
    top:26%;
    width: 1088px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #192426;
    color:#D8D8D8;
}

.search-section select, 
.search-section input[type="text"],
.search-section input[type="submit"] {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-section input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    margin-left: 10px;
}

.search-section input[type="submit"]:hover {
    background-color: #45a049;
}

/* 환자 리스트 섹션 레이아웃 설정 */
.patient-list-section {
    text-align: left;
}

.patient-list-section table {
	position:absolute;
    left:4%;
    top:32%;
    border-collapse: collapse;
    margin-top: 20px;
    color:#D8D8D8;
    font-size: 14px;
}

.patient-list-section th, .patient-list-section td {
    border: 1px solid black;
    padding: 12px;
    text-align: center;
    white-space: nowrap; /* 줄바꿈 없이 한 줄로 표시 */
    overflow: hidden; /* 넘치는 텍스트 숨김 */
    text-overflow: ellipsis; /* 넘치는 텍스트를 생략 부호로 표시 (...) */
}
.search-result{
	background-color: #192426;
}
/* 테이블 헤더 스타일 */
.patient-list-section th {
    background-color: #192426;
    font-weight: 400;
    white-space: nowrap;
}
.patient-list-section td {
	font-weight: 600;
}
/* 시리즈 보기 링크 스타일 설정 */
.patient-list-section td a {
    display: inline-block;
    padding: 8px 12px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
}

.patient-list-section td a:hover {
    background-color: #45a049;
}

#historyContainer, #seriesContainer{
	 margin-left: 700px;
	 /* justify-content: flex-end;  오른쪽 정렬 */
}
