.verify-button {
    background-color: var(--button-color);
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

body.dark-mode .verify-button {
    background-color: var(--button-color-dark);
}

.verify-button:hover {
    background-color: #0056b3;
}

body.dark-mode .verify-button:hover {
    background-color: #e64a19;
}
